<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  
  <body ng-app="app">
    <div class="container-fluid" ng-controller="SearchController">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form name="searchForm" ng-submit="search(userQuery)">
                <div class="searchbar input-group">
                    <input ng-model="userQuery" 
                           type="text" 
                           class="form-control" 
                           placeholder="Search"
                           required>
                    <span ng-click="search(userQuery)" 
                          class="input-group-addon">
                        Go!
                    </span>
                </div>
            </form>
        </div>
        
      </div>
      <div class="row text-center rank-button">
        <div class="col-md-6 col-md-offset-3">
            <ul class="search-results list-unstyled list-inline">
                <li ng-repeat="calc in calcOptions">
                    <div>{{calc}}</div>
                </li>
            </ul>
            <ul class="search-results list-unstyled list-inline">
                <li ng-click="rerank()"><div>Rerank</div></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ul class="search-results list-unstyled">
            <li ng-repeat="result in results | filter:searchQuery" ng-click="addItem(result)">
                <div class="row">
                    <div class="col-md-3 search-number">
                        <div class="row">
                            <div class="col-md-6 check-mark">
                                <span ng-show="result.checked"
                                      class="glyphicon glyphicon-ok"
                                      aria-hidden="true">
                                </span>
                            </div>
                            <div class="col-md-6">
                                {{result.index + 1}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{result.title}} {{result.snippet}}
                    </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
